@import url(header.css);
@import url(footer.css);

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    margin: auto;
    width: 100%;
}

.description, .iphones {
    width: 100%;
    height: 913px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.description__text {
    margin-bottom: 150px;
    width: 980px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}

.desription__btn {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(/images/arrow_btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.desription__btn::before {
    content: "Выбрать айфон";
    position: absolute;
    width: 165px;
    top: -50px;
    left: -68px;
    font-size: 20px;
    line-height: 31px;
    font-weight: 500;
}

.design {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #1B1B1B;
}

.design__fon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -150px;
    width: 1261px;
    height: 625px;
    background-image: url(/images/iPhone_Black_fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.design__title {
    margin-bottom: 90px;
    width: 700px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: white;
}

.design__text-white {
    margin-bottom: 30px;
    width: 900px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 57px;
    color: white;
}

.design__text-gray {
    width: 1000px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: rgb(70, 68, 68);
}

.iphones {
    position: relative;
}

.iphones__title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.iphones__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 655px;
}

.iphone__product {
    width: 32%;
    height: 100%;

}

.iphone__product__img-silver,
.iphone__product__img-blue,
.iphone__product__img-green {
    width: 100%;
    height: 418px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.iphone__product__img-silver {
    background-image: url(/images/iphone_silver.jpg);
}

.iphone__product__img-blue {
    background-image: url(/images/iphone_blue.jpg);
}

.iphone__product__img-green {
    background-image: url(/images/iphone_green.jpg);
}

.iphone__product-info {
    padding: 30px 30px 0 30px;
    width: 100%;
    height: 237px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    background-color: #1B1B1B;
    color: white;
}

.iphone__product-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}

.iphone__product-color {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.iphone__product-cost {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.iphones__gallery-btn {
    position: absolute;
    bottom: 50%;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iphone__product-btn {
    width: 100%;
    height: 55px;
    border-radius: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.btn__prev, .btn__next {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    box-shadow: 0 0 15px black;
    background-image: url(/images/Arrow_prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__next {
    transform: rotate(180deg);
}

.iphone-video {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 836px;
    background-color: #1B1B1B;
}

.iphone-video__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    color: white;
}

.iphone-video__text {
    margin-bottom: 50px;
    text-align: center;
    max-width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #F5F5F5;
}

.iphone-video__image {
    position: relative;
    max-width: 990px;
    max-height: 430px;
}

.decor {
    width: 100%;
    height: 125px;
    background-image: url(/images/wave.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    top: 38%;
    width: 100px;
    height: 100px;
    background-image: url(/images/btn-video-fon.png);
}

.video__btn-play {
    width: 55px;
    height: 55px;
    background-image: url(/images/video_play-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.section__form-to-fill {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 600px;
}

.section__form-to-fill__image {
    width: 60%;
    height: 320px;
    background-image: url(/images/iphone_photo.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.section__form-to-fill__form {
    width: 420px;
}

.section__form-to-fill__form p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #727272;
}

.form__section {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 65px;
    border-radius: 32px;
    border: 1.5px solid #C8C8C8;
}

.form__section__input {
    padding-left: 30px;
    width: 55%;
    height: 40px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
}

.form__section__btn {
    width: 35%;
    height: 35px;
    border: none;
    background-color: #1B1B1B;
    border-radius: 32px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
}

@media (max-width: 1260px) {

    .header__image {
        height: auto;
    }

    .design__fon {
        width: 100%;
        background-size: contain;
        height: 100%;
    }

    .footer__links {
        width: calc(35%);
    }
    
    .footer__nav {
        width: calc(65%);
    }
}

@media (max-width: 1099px) {

    header {
        height: 820px;
    }

    .header__text-bold {
        font-size: 100px;
        line-height: 120px;
    }
    
    .header__text-small {
        font-size: 30px;
        line-height: 37px;
    }

    .description__title {
        font-size: 54px;
        line-height: 65px;
    }
    
    .description__text {
        width: 800px;
        font-size: 18px;
        line-height: 28px;
    }

    .design__title {
        width: 600px;
        margin-bottom: 70px;
        font-weight: 700;
        font-size: 38px;
        line-height: 50px;
    }
    
    .design__text-white {
        margin-bottom: 30px;
        width: 850px;
        font-size: 28px;
        line-height: 45px;
    }
    
    .design__text-gray {
        width: 900px;
        font-size: 18px;
        line-height: 25px;
    }

    .iphone__product-name {
        font-size: 20px;
        line-height: 28px;
    }
    
    .iphone__product-color {
        font-size: 12px;
        line-height: 16px;
    }
    
    .iphone__product-cost {
        font-size: 20px;
        line-height: 28px;
    }
    
    .iphone__product-btn {
        font-size: 16px;
        line-height: 20px;
    }

    .iphone-video__img {
        width: 100%;
        height: auto;
        background-position: center;

    }

}

@media (max-width: 949px) {

    header {
        height: 750px;
    }

    .design__text-white {
        width: 750px;
        font-size: 28px;
        line-height: 45px;
    }
    
    .design__text-gray {
        width: 800px;
    }

    .btn__prev, .btn__next {
        width: 54px;
        height: 54px;
    }
    .footer__nav__gettingData {
        width: 40%;
    }

    .footer__form__input {
        font-size: 10px;
        line-height: 16px;
    }
}

@media (max-width: 949px) {
    header {
        height: 700px;
    }

    .header__text-bold {
        font-size: 80px;
        line-height: 100px;
    }
    
    .header__text-small {
        font-size: 25px;
        line-height: 30px;
    }

    .description__title {
        font-size: 45px;
        line-height: 50px;
    }
    
    .description__text {
        width: 600px;
        font-size: 16px;
        line-height: 20px;
    }

    .design__title {
        width: 450px;
        margin-bottom: 60px;
        font-size: 28px;
        line-height: 40px;
    }
    
    .design__text-white {
        width: 750px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .design__text-gray {
        width: 700px;
        font-size: 16px;
        line-height: 20px;
    }

    .iphone__product-name,
    .iphone__product-cost {
        font-size: 18px;
        line-height: 22px;
    }
    
    .iphone__product-color {
        font-size: 12px;
        line-height: 16px;
    }
    
    .iphone__product-btn {
        font-size: 12px;
        line-height: 18px;
    }

    .iphones__gallery {
        height: 500px;
    }

    .iphone__product__img-silver,
    .iphone__product__img-blue,
    .iphone__product__img-green {
        height: 280px;
}

.iphones, .description {
    height: 800px;
}

.iphone__product-info {
    padding: 30px 30px 0 30px;
    width: 100%;
    height: 210px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;

    background-color: #1B1B1B;
    color: white;
}

.iphone-video {
    height: 750px;
}

.iphone-video__title {
    font-size: 28px;
    line-height: 35px;
}

.iphone-video__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
}

.section__form-to-fill {
    height: 500px;
}

.iphones__title {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 45px;
}

}

@media (max-width: 768px) {

    .iphones, .description {
        height: 650px;
    } 
    .design__text-white {
        width: 500px;
        font-size: 20px;
        line-height: 30px;
    }
    
    .design__text-gray {
        width: 600px;
        font-size: 16px;
        line-height: 20px;
    }
    footer {
        padding: 30px;
    }
    .footer__nav {
        flex-direction: column;
    }

    .footer__nav__title {
        margin-bottom: 10px;
    }

    .footer__nav__link {
        margin-top: 0;
        margin-right: 10px;
        display: inline-block;
    }

    .footer__form {
        width: 80%;
        height: 40px;
    }

    .footer__nav__gettingData {
        width: 100%;
    }
    
    .btn__prev, .btn__next {
        width: 40px;
        height: 40px;
    }

    .iphones__gallery-btn {
        padding: 0 20px;
    }

    .iphone__product {
        width: 27%;
    }

    .iphone__product-info {
        padding: 15px 15px 0;
        height: 180px;
    }


    .iphone__product-name,
    .iphone__product-cost {
        font-size: 16px;
        line-height: 20px;
    }
    
    .iphone__product-color {
        font-size: 10px;
        line-height: 12px;
    }
    
    .iphone__product-btn {
        font-size: 10px;
        line-height: 13px;
        height: 45px;
    }

    .iphone__product__img-silver,
    .iphone__product__img-blue,
    .iphone__product__img-green {
        height: 190px;
    }

    .section__form-to-fill {
        flex-direction: column;
        gap: 10px;
    }
}

    @media (max-width: 650px) {
    header {
        height: 640px;
       }

    .header__text-bold {
        font-size: 60px;
        line-height: 80px;
    }
    
    .header__text-small {
        font-size: 20px;
        line-height: 28px;
    }

    .iphones, .description, .design {
        height: 500px;
    } 

    .description {
        padding: 20px;
    }

    .description__title {
        font-size: 38px;
        line-height: 45px;
    }

    .description__text {
        width: 100%;
    }

    .iphone-video {
        height: 600px;
    }
   
    .design__title {
        margin-bottom: 40px;
    }
    
    .design__text-white {
        font-size: 18px;
    }
    
    .design__text-gray {
        width: 450px;
        font-size: 13px;
        line-height: 18px;
    }
  
    
    .iphone__product-cost,
    .iphone__product-color {
        margin-bottom: 7px;
    }

    .iphones__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 507px) {
    header {
        height: 550px;
    }

    .description__text {
        margin-bottom: 80px;
    }

    .design {
        height: 400px;
    }

    .design__fon {
        top: 0;
        background-image: none;
    }

    .design__title {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
    }
    
    .design__text-white {
        margin-bottom: 15px;
        width: 90%;
        font-size: 16px;
    }
    
    .design__text-gray {
       width: 70%;
       font-size: 10px;
    }

    .iphone-video {
        height: 500px;
    }

    .section__form-to-fill {
        height: 400px;
    }

    .iphone-video__title {
        font-size: 22px;
        line-height: 30px;
    }

    .iphone-video__text {
        font-size: 16px;
        line-height: 18px;
    }

    .decor {
        height: 90px;
    }

    .blok {
        display: none;
    }

    .iphones__gallery {
        justify-content: center;
    }

    .iphone__product {
        width: 40%;
    }

    .iphone__product-cost, .iphone__product-color {
        margin-bottom: 15px;
    }
}